body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #000000;
}
header {
  background-color: #925757;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
.intro {
  text-align: center;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.project {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  flex: 1 1 calc(50% - 1rem);
}
.skills,
.contact {
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #925757;
  color: #fff;
  margin-top: 2rem;
}
